/* SHARED ACROSS ALL PAGE */

html {
  scroll-behavior: smooth;
}

.full-height {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  text-align: center;
}

:focus {
  outline: none;
}

.fixed-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.fixed-bg img {
  width: 100%;
  height: 100%;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800i&display=swap');

@font-face {
  font-family: mBlackFont;
  src: url(fonts/MblackFont-Regular.ttf);
}

.m-black-font {
  font-family: mBlackFont;
}

@font-face {
  font-family: moonChildFont;
  src: url(fonts/212-Moon-Child-Sans.otf);
}

.moon-child-font {
  font-family: moonChildFont;
}

/* MOBILE NAV BAR */

.collapse-btn {
  position: fixed;
  z-index: 99;
  right: 0;
  font-size: 8vw;
  color: white;
  padding: 2vh;
}

.collapse-btn:focus {
  outline: 0;
}

#collapsible-nav {
  position: fixed;
  z-index: 98;
  background-color: black;
  width: 100%;
  border-bottom: 2px solid rgb(255, 30, 79);
}

#collapsible-nav ul {
  width: 100%;
  text-align: center;
}

#collapsible-nav li a {
  font-family: "Raleway";
  font-size: 15px;
  color: white;
  margin: 0;
  line-height: 4vh;
  text-decoration: none;
}

/* DESKTOP NAV BAR */

#normal-nav {
  position: fixed;
  z-index: 99;
  height: fit-content;
  width: 100%;
  border-bottom: 2px solid rgb(255, 30, 79);
  background-color: black;
}
#normal-nav li {
  margin-top: 0.5vh;
}

#normal-nav li a {
  font-family: "Raleway";
  display: inline;
  margin: 2vw;
  font-size: 1em;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

/* Navigation bar on hover */
#normal-nav li a:hover {
  color: rgb(255, 30, 79);
}

/* HOME PAGE */

.wrapper-home {
  background-size: 100% 100%;
  height: 100%;
}

.wrapper-home-content {
  position: absolute;
  top: 28vh;
  width: 100%;
  margin: 0 0 -25% 0;
}

.home-text {
  font-family: "Raleway";
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 30px;
}

.name-text {
  font-size: 50px;
  color: rgb(255, 30, 79);
}

#smiley {
  position: absolute;
  width: 150px;
  height: 50px;
  transform: rotate(-20deg);
  right: 10%;
  bottom: -10%;
}

#appear {
  opacity: 0;
  transition: all 0.5s;
}

.wrapper-explore {
  margin-top: 16vh;
  text-align: center;
}

.wrapper-explore a {
  padding: 0.5em;
  font-family: "Raleway";
  font-weight: 600;
  color: whitesmoke;
  font-size: 25px;
  border: white solid 2px;
  transition: all 0.7s;
  text-decoration: none;
}

.wrapper-explore a:hover {
  background-color: rgb(255, 30, 79);
  border: rgb(255, 30, 79) solid 2px;
}

/* SHARED */

.wrapper-page-content {
  position: relative;
  padding: 10vh 10vw 4vh 10vw;
}

.page-title {
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(22, 22, 22);
  font-size: 35px;
}

/* ABOUT */

.about-page {
  display: grid;
  position: relative;
  grid-template-rows: 5fr 1.2fr;
  grid-column: 1fr;
  height: fit-content;
  width: 100%;
}

.wrapper-profile-img {
  display: none;
}

.wrapper-profile-skills {
  background-color: rgb(255, 223, 118);
  position: relative;
  grid-row: 2 / 3;
}

.wrapper-skills-content {
  /* Position paragraph */
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 90%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-profile-skills p {
  font-family: "Raleway";
  font-weight: 800;
  font-style: italic;
  font-size: 20px;
  color: black;
  border: 3px rgb(255, 255, 255) solid;
  width: fit-content;
  padding: 7px;
}

.skills-container {
  /* Fonts */
  font-family: "Raleway";
  font-size: 11px;
  font-weight: 600;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.flex-item {
  margin: 6px;
  padding: 1px 8px 1px 8px;
  flex-basis: fit-content;
  color: white;
  border-radius: 6px;
  background-color: rgb(255, 79, 79);
  
}

.wrapper-profile-intro {
  background-color: rgb(255, 253, 210);
  font-family: "Raleway";
  padding: 100px;
  text-align: center;
  grid-row: 1 / 2;
}

.intro-header {
  font-family: "Raleway";
  font-weight: 600;
  margin-top: -40px;
  font-size: 55px;
}

/* PORTFOLIO */

.portfolio-page {
  background-color: rgb(255, 234, 166);
  height: 100%;
}

.wrapper-portfolio-gallery {
  margin-top: 5vh;
}

.btn {
  border-radius: 0;
  font-family: "Raleway";
  font-size: 12px;
  border: none;
  text-decoration: none;
  margin: 4px;
  background-color: #f1f1f1;
  transition: 0.7s ease;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  transition: 1s ease;
  background-color: #666;
  color: white;
}

.container {
  display: grid;
  height: 55vh;
  width: 100%;
  margin-top: 4vh;
  padding: 0;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.filter_div {
  color: #ffffff;
  /* Center text */
  line-height: 130px; /* Line height to fit container row and column px */
  text-align: center;
}

.div1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.div2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.div3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.filter-div.show {
  display: block;
}

.filter-div.hide {
  display: none;
}

.photo-frame-container {
  position: relative;
  /* Make all children fit into this rounded container */
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 25%;

  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: whitesmoke;
  /* This will set opacity of text too, so no go..
	background-color: #000000;
	opacity: 0.3;
	*/
  overflow: hidden;
  transition: 0.5s ease;
}

.wrapper-info {
  /* To center text in overlay */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  padding: 0.5em;
  font-family: "Raleway";
  color: rgb(43, 43, 43);
  font-size: 7px;
  border: rgb(255, 30, 79) solid 1px;
  transition: all 0.5s;
}

.project-text {
  display: none;
  color: black;
  font-size: 17px;
  font-family: moonChildFont;

  /* To center text in overlay */
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.main-tools {
  display: initial;
  display: none;
  font-family: "Raleway";
  font-size: 10px;
  line-height: 0em;
  font-style: oblique;
  color: grey;
}

.photo-frame-container img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

/* CONTACT */

.contact-page {
  background-size: 100% 100%;
  height: 100%;
}

.wrapper-form {
  margin-top: 2vh;
  height: 55vh;
}

/* Prevent google autocomplete to change background to white */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(255, 247, 204) inset !important;
}

.form-detail {
  background-color: rgb(255, 247, 204);
  display: block;
  width: 100%;
  border: none;
  padding: 3px;
  margin-top: 5px;
}

.form-detail::placeholder {
  font-family: "Raleway";
}

.form-detail[type="text"] {
  font-family: "Raleway";
}

.form-message {
  background-color: rgb(255, 247, 204);
  height: 25vh;
  margin-top: 3vh;
}

.send-email-btn {
  font-family: "Raleway";
  color: white;
  background-color: rgb(70, 70, 70);
  border: none;
  padding: 5px 10px;
  margin-top: 3vh;
  transition: all 0.3s;
}

.send-email-btn:hover {
  transform: scale(1.1);
}

.wrapper-icons {
  height: 20vh;
}

.contact-profile-icon {
  height: 10vw;
  width: 10vw;
  max-width: 50px;
  max-height: 50px;
  margin: 7vh 4vw 0 4vw;
  transition: all 0.3s;
}

.contact-profile-icon:hover {
  opacity: 0.4;
  transform: scale(1.1);
  transform: rotate(7deg);
}

.email-model-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  background-color: rgba(255, 246, 166, 0.575);
  font-family: "Raleway";
  font-size: 14px;
}

.email-model-box span {
  color: #727272;
  line-height: 30px;
  float: right;
  font-size: 20px;
}

.email-model-box span:hover,
.email-model-box span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.visible {
  display: initial;
}

.invisible {
  display: none;
}

/* PROJECT ITEM PAGE */
.wrapper-item-page {
  background-image: url(./images/yellowbackground.jpg);
  width: 100%;
}

.wrapper-media-region {
  padding-top: 6vh;
  height: 30vh;
}
.wrapper-details-region {
  height: 55vh;
  padding: 15px;
}

.wrapper-grid {
  height: 100%;
  width: 100%;
  display: grid;

  text-align: center;
  font-family: moonChildFont;
  grid-template-rows: 20% auto 20% 20%;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "a1 a2"
    "b1 b2"
    "c1 c2"
    "d1 d2";
}

.grid-div {
  background-color: rgb(253, 251, 222);
  border: 2px solid black;
  padding: 14px;
}

.project-name-div1 {
  border-top-left-radius: 15px;
  background-color: white;
  grid-area: a1;
}

.project-name-div2 {
  border-top-right-radius: 15px;
  grid-area: a2;
}

.project-desc-div1 {
  grid-area: b1;
}

.project-desc-div2 {
  background-color: white;
  grid-area: b2;
}

.project-tools-div1 {
  background-color: white;
  grid-area: c1;
}

.project-tools-div2 {
  grid-area: c2;
}

.project-code-div1 {
  border-bottom-left-radius: 15px;
  grid-area: d1;
}

.project-code-div2 {
  border-bottom-right-radius: 15px;
  background-color: white;
  grid-area: d2;
}

.wrapper-download-region {
  height: 15vh;

  /* center anchor region */
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-download-region a {
  height: fit-content;
  width: fit-content;
}

.wrapper-download-region a img {
  height: 70px;
  width: 170px;
  transition: all 0.3s;
}

.wrapper-download-region a img:hover {
  transform: scale(1.1);
}

.wrapper-selection {
  height: 100%;
  width: 100%;
  text-align: center;
}

.nav-arrow {
  margin: 25px;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
}

.nav-arrow:hover {
  transform: scale(1.1);
}

.item-img {
  border-radius: 15px;
  height: 80%;
}

/* RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }

  /* About page */

  .about-page {
    grid-template-rows: 2fr 1.2fr;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
  }

  .wrapper-profile-img {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .wrapper-profile-img img {
    height: 100%;
    width: 100%;
  }

  .wrapper-profile-skills {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .wrapper-profile-intro {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .container {
    display: grid;
    height: 40vh;
    margin-top: 7vh;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div1 {
    grid-column: 1 / 2;
  }

  .div2 {
    grid-column: 2 / 3;
  }

  .div3 {
    grid-column: 3 / 4;
  }

  .wrapper-home-content {
    top: 27vh;
    /* background-color: cornflowerblue; */
  }

  .home-text {
    font-size: 40px;
    /* background-color: yellow; */
  }

  .wrapper-form {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .name-text:hover ~ #appear {
    opacity: 1;
  }

  .photo-frame-container:hover .overlay {
    opacity: 1;
  }

  .overlay {
    height: 100%;
    opacity: 0;
  }

  .wrapper-info {
    top: 70%;
    left: 0%;
    font-size: 15px;
  }

  .project-text {
    display: initial;
    top: 30%;
    left: 100%;
    font-size: 28px;
  }

  .main-tools {
    display: block;
  }

  .photo-frame-container:hover .overlay .wrapper-info {
    left: 50%;
  }

  .wrapper-info:hover {
    color: whitesmoke;
    background-color: rgb(255, 30, 79);
  }

  .photo-frame-container:hover img {
    transform: scale(1.07);
  }

  .photo-frame-container:hover .overlay .project-text {
    left: 50%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}
