/* SHARED ACROSS ALL PAGE */

html {
  scroll-behavior: smooth;
}

.full-height {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  text-align: center;
}

:focus {
  outline: none;
}

/* FONTS */

@font-face {
  font-family: mBlackFont;
  src: url(fonts/MblackFont-Regular.ttf);
}

.m-black-font {
  font-family: mBlackFont;
}

@font-face {
  font-family: moonChildFont;
  src: url(fonts/212-Moon-Child-Sans.otf);
}

.moon-child-font {
  font-family: moonChildFont;
}

/* MOBILE NAV BAR */

.collapse-btn {
  position: fixed;
  z-index: 99;
  right: 0;
  font-size: 8vw;
  color: black;
  padding: 2vh;
}

.collapse-btn:focus {
  outline: 0;
}

#collapsible-nav {
  position: fixed;
  z-index: 98;
  width: 100%;
  left: 0;
  top: -3vh;
  margin: 0;
  background-color: rgba(245, 245, 245, 0.897);
}

#collapsible-nav ul {
  width: 100%;
  text-align: center;
}

#collapsible-nav li:nth-of-type(2n) {
  border-radius: 10px;
  background-color: rgba(255, 187, 0, 0.411);
}

#collapsible-nav li a {
  font-size: 30px;
  color: black;
  margin: 0;
  line-height: 22vh;
}

/* DESKTOP NAV BAR */

#normal-nav {
  position: fixed;
  z-index: 99;
  right: 1vw;
  margin: 1vh;
  height: fit-content;
  width: fit-content;
  background-color: rgba(224, 224, 224, 0.401);
  border-radius: 7px;
}

#normal-nav li {
  margin-top: 1vh;
}

#normal-nav li a {
  display: inline;
  margin: 2vw;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.897);
  font-style: oblique;
  transition: font-size 0.2s;
}

/* Navigation bar on hover */
#normal-nav li a:hover {
  font-size: 115%;
  font-weight: bold;
  background-color: inherit;
}

/* HOME PAGE */

.wrapper-home {
  background: url("images/yellowbackground.jpg");
  background-size: 100% 100%;
  height: 100%;
}

.wrapper-home-content {
  position: absolute;
  top: 28vh;
  width: 100%;
  margin: 0 0 -25% 0;
  /* background-color: cornflowerblue; */
}

.name-text {
  margin: 0;
  text-align: center;
  color: black;
  font-size: 65px;
}

.welcome-text {
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 0;
}

.wrapper-explore {
  margin-top: 10vh;
  text-align: center;
}

.wrapper-explore a {
  padding: 0.5em;
  color: whitesmoke;
  font-size: 30px;
  border: white solid 2px;
  transition: all 0.3s;
  text-decoration: none;
}

.wrapper-explore a:hover {
  background-color: rgb(180, 180, 180, 0.563);
  border: rgba(180, 180, 180, 0.563) solid 2px;
}

/* SHARED */

.wrapper-page-content {
  position: relative;
  padding: 6vh 10vw 4vh 10vw;
}

.page-title {
  font-size: 35px;
}

/* ABOUT */

.about-page {
  background-color: rgb(255, 253, 210);
  height: 100%;
}

.wrapper-intro {
  margin-top: 7vh;
  font-size: 20px;
}

.call-for-action-text {
  font-size: 25px;
  margin-top: 7vh;
}

.profile-img {
  border-radius: 20%;
  height: 150px;
  width: 150px;
}

.smiley-img {
  margin-top: 3vh;
  height: 30px;
  width: 70px;
}

/* PORTFOLIO */

.portfolio-page {
  background-color: rgb(255, 234, 166);
  height: 100%;
}

.wrapper-portfolio-gallery {
  margin-top: 5vh;
}

.wrapper-buttons {
}

.btn {
  border: none;
  outline: none;
  margin: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.7s ease;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  transition: 1s ease;
  background-color: #666;
  color: white;
}

.container {
  display: grid;
  height: 55vh;
  width: 100%;
  margin-top: 4vh;
  padding: 0;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.filter_div {
  color: #ffffff;
  /* Center text */
  line-height: 130px; /* Line height to fit container row and column px */
  text-align: center;
}

.div1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.div2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.div3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.filter-div.show {
  display: block;
}

.filter-div.hide {
  display: none;
}

.photo-frame-container {
  position: relative;
  border-radius: 10px;
  /* Make all children fit into this rounded container */
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  /* This will set opacity of text too, so no go..
	background-color: #000000;
	opacity: 0.3;
	*/
  overflow: hidden;
  transition: 0.5s ease;
}

/* Woww im amazed, how to access into overlay element and change its properties */
.photo-frame-container:hover .overlay {
  opacity: 0.7;
  height: 13%;
}

.photo-frame-container:hover .overlay .project-name-text {
  font-size: 10px;
}

.photo-frame-container:hover img {
  /* Do image zoom here */
  transform: scale(1.07);
}

.project-name-text {
  color: white;
  font-size: 35px;

  /* To center text in overlay */
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  transition: 0.5s ease;
}

.photo-frame-container img {
  width: 100%;
  height: 100%;

  /* Do image zoom transition here */
  transition: 0.3s ease;
  /*
	transition: transform .25s, visibility .25s ease-in;
	*/
}

/* CONTACT */

.contact-page {
  background-image: url(./images/yellowbackground.jpg);
  background-size: 100% 100%;
  height: 100%;
}

.wrapper-form {
  margin-top: 2vh;
  height: 60vh;
}

/* Prevent google autocomplete to change background to white */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(255, 247, 204) inset !important;
}

.form-detail {
  background-color: rgb(255, 247, 204);
  display: block;
  width: 100%;
  border: none;
  border-radius: 7px;
  padding: 3px;
  margin-top: 5px;
}

.form-detail::placeholder {
  font-family: moonChildFont;
}

.form-detail[type="text"] {
  font-family: moonChildFont;
}

.form-message {
  background-color: rgb(255, 247, 204);
  height: 30vh;
  margin-top: 3vh;
}

.send-email-btn {
  font-family: moonChildFont;
  color: white;
  background-color: rgb(70, 70, 70);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 3vh;
  transition: all 0.3s;
}

.send-email-btn:hover {
  transform: scale(1.1);
}

.wrapper-icons {
  height: 20vh;
}

.contact-profile-icon {
  height: 10vw;
  width: 10vw;
  max-width: 50px;
  max-height: 50px;
  margin: 7vh 4vw 0 4vw;
  transition: all 0.3s;
}

.contact-profile-icon:hover {
  opacity: 0.4;
  transform: scale(1.1);
  transform: rotate(7deg);
}

/* PROJECT ITEM PAGE */
.wrapper-item-page {
  background-image: url(./images/yellowbackground.jpg);
  width: 100%;
}

.wrapper-media-region {
  padding-top: 6vh;
  height: 30vh;
}
.wrapper-details-region {
  height: 55vh;
  padding: 15px;
}

.wrapper-grid {
  height: 100%;
  width: 100%;
  display: grid;

  text-align: center;
  font-family: moonChildFont;
  grid-template-rows: 20% auto 20% 20%;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "a1 a2"
    "b1 b2"
    "c1 c2"
    "d1 d2";
}

.grid-div {
  background-color: rgb(253, 251, 222);
  border: 2px solid black;
  padding: 14px;
}

.project-name-div1 {
  border-top-left-radius: 15px;
  background-color: white;
  grid-area: a1;
}

.project-name-div2 {
  border-top-right-radius: 15px;
  grid-area: a2;
}

.project-desc-div1 {
  grid-area: b1;
}

.project-desc-div2 {
  background-color: white;
  grid-area: b2;
}

.project-tools-div1 {
  background-color: white;
  grid-area: c1;
}

.project-tools-div2 {
  grid-area: c2;
}

.project-code-div1 {
  border-bottom-left-radius: 15px;
  grid-area: d1;
}

.project-code-div2 {
  border-bottom-right-radius: 15px;
  background-color: white;
  grid-area: d2;
}

.wrapper-download-region {
  height: 15vh;

  /* center anchor region */
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-download-region a {
  height: fit-content;
  width: fit-content;
}

.wrapper-download-region a img {
  height: 70px;
  width: 170px;
  transition: all 0.3s;
}

.wrapper-download-region a img:hover {
  transform: scale(1.1);
}

.wrapper-selection {
  height: 100%;
  width: 100%;
  text-align: center;
}

.nav-arrow {
  margin: 25px;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
}

.nav-arrow:hover {
  transform: scale(1.1);
}

.item-img {
  border-radius: 15px;
  height: 80%;
}

/* RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }

  .container {
    display: grid;
    height: 40vh;
    margin-top: 7vh;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div1 {
    grid-column: 1 / 2;
  }

  .div2 {
    grid-column: 2 / 3;
  }

  .div3 {
    grid-column: 3 / 4;
  }

  .name-text {
    margin: 0;
    font-size: 100px;
    /* background-color: yellow; */
  }

  .welcome-text {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 0;
    /* background-color: red; */
  }

  .project-name-text {
    color: white;
    font-size: 50px;
  }

  .photo-frame-container:hover .overlay .project-name-text {
    font-size: 20px;
  }

  .wrapper-form {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}
